* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 20px 20px;
  min-height: 100vh;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #8bc6ec; */
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
  background-color: #1b2845;
  background-image: linear-gradient(315deg, #1b2845 0%, #7682f3 74%);

  overflow-y: auto;
}

.app {
  background-image: linear-gradient(135deg, #fcedd9 0%, #ffc8b5 100%);
  max-width: 800px;
  padding: 40px;
  border-radius: 10px;
  overflow-y: auto;
}

/* ==============Header */
.header {
  font-size: 50px;
  text-align: center;
  padding-bottom: 30px;
  color: rgb(129, 140, 243);
}

/* ==============Input */
input[type="text"] {
  text-transform: capitalize;
}
.input {
  display: flex;
  justify-content: center;
  /* padding-bottom: 20px; */
}

.input input {
  color: rgb(129, 140, 243);
  width: 100%;
  max-width: 200px;
}

.input input,
.input button {
  padding: 10px 20px;
  outline: none;
  border: none;
  font-size: 18px;
  border: 1px solid rgb(129, 140, 243);
}

.input input.count {
  border-radius: 30px 0 0 30px;
  border-right: 2px solid rgba(128, 128, 128, 0.558);
}

.input input.name {
  border-left: none;
}

.input button {
  border-radius: 0 30px 30px 0;
  background-color: rgb(129, 140, 243);
  color: white;
  cursor: pointer;
}

/* ==========Data */

.data {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 40px;
}
.data .list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 2px solid rgba(128, 128, 128, 0.124);
  border: 2px solid #7682f3;
  border-radius: 20px;
  /* justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap; */
  padding: 10px;
  min-height: 200px;
  /* margin: 30px 0; */
  background-color: #9599e21b;
}

.data .list li {
  user-select: none;
  width: auto;
  min-width: 200px;
  list-style: none;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  background-color: rgba(129, 140, 243, 0.141);
  border: 1px solid rgb(196, 167, 228);
}

.data .list li:hover {
  background-color: rgba(129, 140, 243, 0.304);
}

.data .list li input,
.data .list li .rightSec button.cross {
  cursor: pointer;
}

.data .list li input {
  scale: 1.5;
}

.data .list li .rightSec {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
}

.data .list li .itemName {
  font-size: 20px;
  text-transform: capitalize;
}

.data .list li .rightSec button.cross {
  background-color: transparent;
  outline: none;
  border: none;
}

.data .list li .rightSec button.cross:hover {
  border-radius: 10px;
  opacity: 0.8;
  animation: rotate 0.7s;
}

.data .dataFormat {
  /* background-color: rgb(247, 171, 171); */
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.data .dataFormat .sort {
  outline: none;
  border: 1px solid rgb(129, 140, 243);
  padding: 5px 15px;
  border-radius: 10px;
  cursor: pointer;
  color: rgb(95, 111, 255);
  font-weight: 700;
}

.data .dataFormat .clear {
  outline: none;
  border: 1px solid rgb(129, 140, 243);
  padding: 5px 15px;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
  color: rgb(95, 111, 255);
  font-weight: 700;
  flex-grow: 1;
}

.data .dataFormat .sort option {
  font-size: 15px;
  color: rgb(129, 140, 243);
}
.line-through {
  text-decoration: line-through;
}

/* =============Footer */
footer {
  text-align: center;
  margin-top: 30px;
  color: rgb(103, 103, 216);
  font-weight: 700;
}

@keyframes rotate {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 90deg;
  }
}

/* ======================= */
@media screen and (max-width: 500px) {
  body {
    background-color: rgb(250, 249, 197);
  }
  .input {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .input input,
  .input button {
    width: 100%;
    max-width: none;
    padding: 10px 20px;
    outline: none;
    border: none;
    font-size: 18px;
    border-right: none;
    border-radius: 20px !important;
    border: 1px solid rgb(201, 150, 248);
  }
  .app {
    padding: 40px 40px;
    /* height: 100%; */
  }
  footer {
    /* min-height: 120px; */
  }
}

@media screen and (max-width: 400px) {
  .app {
    padding: 20px 20px;
  }
  .header {
    font-size: 35px;
  }
}

@media screen and (max-width: 340px) {
  .app {
    padding: 20px 10px;
    border-radius: 0;
    width: 100vw;
    height: 100vh;
  }
  body {
    padding: 0;
  }
}
